:root{
--blue-500: hsl(215, 51%, 70%);
--cyan-400: hsl(178, 100%, 50%);

/* ### Neutral */

--blue-950: hsl(217, 54%, 11%);
--blue-900: hsl(216, 50%, 16%);
--blue-800: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
}

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-center-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background: var(--blue-950);
}


main{
    font-family: 'Outfit';
    width: 100%;
    height: 100dvh;
    

    justify-content: center;
    text-align: center;

}

.card{
    align-items: center;
    justify-content: center;
    width: 90%;
    background: var(--blue-900);
    padding: 30px 0;
    border-radius: 15px;
}

.imge img{
    width: 100%;
    border-radius: 15px;
}

.imge{
    width: 100%;
}

.container{
    width: 80%;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    text-align: left;
}

.text h2 ,.text a{
    color: var(--white);
    padding: 20px 0;
    font-weight: 400;
    text-decoration: none;
}

.text p{
    color: var(--blue-500);
    /* padding-bottom: 20px; */
}

.eth-day{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--blue-800);
    padding: 20px 0;
}

.eth,.day{
    display: flex;
    gap: 5px;
}

.eth:first-of-type p{
    color:var(--cyan-400);
}

.author{
    display: flex;
    align-items: center;
    padding-top: 20px;

}

.author-img{
    display: block;
    width: 30%;
}

.author-img img{
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 60%;
}

.author p{
    color: var(--blue-500);
}

.author a{
    color: var(--white);
    text-decoration: none;
}

.author a:hover, .text h2:hover{
    color: var(--cyan-400);
}

.imge {
    /* height: 100%; */
}


imge a{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}




@media(min-width:750px){
    .text h2{
        font-size: 2.3rem;
    }

    .text p{
        font-size: 1.5rem;
    }

    .eth,.day{
        align-items: center;
        gap: 15px;
    }

    .eth-icon img, .day-img img{
        width: 30px;
        height: 39px;
    }

    .eth-day{
        padding: 20px 0;
    }

    .eth-day p{
        font-size: 1.5rem;
    }

    .author p{
        font-size: 1.5rem;
    }

    .card{
        width: 60%;
    }


    
}

@media(min-width:1280px){
    .card{
        width: 25%;
        margin: 1rem 0;
        /* height: 90%; */
    }

    .container{
        width: 80%;
    }

    .text h2{
        font-size: 1.3rem;
        padding: 20px 0;
    }

    .text a{
        padding: 0;
    }

    .text p{
        font-size: 1.1rem;
    }

    .eth,.day{
        align-items: center;
        gap: 15px;
    }

    .eth-icon img, .day-img img{
        width: 15px;
        height: 22px;
    }

    .eth-day{
        padding: 20px 0;
    }

    .eth-day p{
        font-size: 1rem;
    }

    .author p{
        font-size: 1rem;
    }

    .imge a:hover::after{
    content: '';
    background: var(--cyan-400);
    border-radius: 15px;
    opacity: .8;
    position: absolute;
    bottom:50%;
    left: 40%;
    width: 20%;
    height: 35%;
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
}



}

@media(min-width:1440px){
    .imge a:hover::after{
    content: '';
    background: var(--cyan-400);
    border-radius: 15px;
    opacity: .8;
    position: absolute;
    bottom:47%;
    left: 40%;
    width: 20%;
    height: 45%;
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
}